/************************************************/

.image-link {

    display:     flex;
    align-items: flex-start;

}

/************************************************/

.preview-container {
    position: relative;
}

/************************************************/

.image-link-preview {

    position: absolute;

    left:    5px;

    width:            745px;
    height:           1040px;

    visibility:       hidden; /*visible;*/
    background-image: url('../images/MagusOfTheDisk.png');

}

/************************************************/

.image-link:hover .image-link-preview {
    visibility: visible;
}

/************************************************/

a {
    color: red;
}

/************************************************/