# my
ignored
ignore/
notes
goals
TODO
TODO.md
TODO.org
cbits/main
.projectile
result/
result
ghcid.txt
./out

# Haskell
.shake/
dist/
dist-*/
.ghc.environment.*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
report.html
.stack-work/
cabal.project.local

# JavaScript
node_modules/
package-lock.json

# Emacs
\#*
*~
.#*
\#*\#
*.log
TAGS

# OS X
.DS_Store
